table {
    border: 2px solid #a5a5a5;
    border-collapse: collapse;
    padding-top: 5px;
    clear: both;
    width: 100%;
}

table td {
    border: 2px solid #a5a5a5;
    padding: 10px;
}

table th {
    border : 2px solid #a5a5a5;
    padding: 10px;
    cursor: pointer;
    background-color: #eeeeee;
}

.tabButton {
    display: block;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 10px;
}

.selecting {
    border: 2px solid #a5a5a5;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
}

body {
    width: 80%;
    margin: auto;
    padding-top: 4em;
}

.searchPanel {
    display: block;
    float: right;
}

.searchPanel input {
    height: 1.6em;
    margin-left: 2em;
    border: 2px solid #a5a5a5;
    border-radius: 3px;
    padding: 0.4em 1em;
}

.searchPanel input:focus {
    outline: none;
}